body, html{
    height: 100%;
}

.bg{ 
    /* La imagen usada como fondo */
    background-image: url(../img/Webdevelopment.jpeg);
    
    /* Maxima altura */
    height: 100%; 
    
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}